@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&family=Slabo+27px&display=swap');
/* font-family: 'Dancing Script',
cursive;
font-family: 'Roboto',
sans-serif;
font-family: 'Slabo 27px',
serif; */
:root{
    font-size: 62.5%;

    --colgreen:#5C8001;
    --collight:#dfbc98;
    --colwhite:#fff;
    --coldark:#e2a113;
    --coldarkgray:rgb(0, 0, 0);
    --colblack:rgb(26, 20, 20);
    --colpink:#C1292E;
    --colgradient:rgb(28, 78, 63);

    --box-shadow:0 0.3rem 0.5rem #DECBB7;
    --textbottom:2rem;
    --buttonpadding:0.6rem 1.5rem;
    --borderradius:1rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: 'Roboto',
    sans-serif;
    color: var(--coldark);
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    letter-spacing: 0.1rem;
}
button{
    background-color: transparent;
    border: none;
    color: inherit;
    box-shadow: var(--box-shadow);
    font-size: inherit;
    padding: var(--buttonpadding);
    border-radius: var(--borderradius);
}
h2, h3, h4, p{
    margin-bottom: 1rem;
}

/* Header section */
header{
    background-color: var(--colgreen);
    height: 100vh;
    color: var(--collight);
    overflow: hidden;

}
header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}
img{
    width: 100%;
}
.header-container{
    z-index: 1;
    width: 70%;
    margin: auto;
    position: relative;
    height:100vh
}
nav{
    padding: 2rem 0;
    z-index: 2;

}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a:hover{
    color: var(--coldark);
    transition: .4s;
}
nav button{
    background:var(--coldark);
    color: var(--coldarkgray);
}
nav button:hover{
    
    background: var(--collight);
    transition: .4s;
}
.header-content{
    position: absolute;
    bottom: 10%;
    left: 0;
    line-height: 1;
    max-width: 100%;
    z-index: 1;
}
.header-name{
    position: absolute;
    top: 50%;
    left: -30%;
    width: 26rem;
    text-align: center;
    letter-spacing: 0.1rem;
    transform: rotate(270deg);
    color: var(--coldark);
}
hr{
  border: 0.2rem solid var(--collight);
}
.header-name span {
    color: var(--collight);
}
.header-content :nth-child(1) {
    font-size: 9rem;
    text-align: center;
    text-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.4);

}
.header-content :nth-child(2){
    color: var(--coldark);
    font-size: 22rem;

}
.header-image-container{

position: absolute;
bottom: 0;
right: -30%;
width: 85rem;
height: 100vh;
box-shadow: 0 0 3rem #000000;
z-index: -1;
opacity: 0.4;
}
.header-image-container img{
    width: 100%;
    box-shadow: var(--box-shadow);
    height: 100vh;
}
/* intro section */
.intro{
    height: 80vh;
    width: 100%;
    background-color: var(--collight);
}
.intro-container{
    width: 70%;
    margin: auto;
    padding: 5rem 0 10rem;
    text-align: center;
    color: var(--coldarkgray);
    max-width: 50rem;

}
.intro h2{
    font-size: 4rem;
    color: var(--coldark);
}
.intro h4 {
    font-size: 2rem;
    margin: 0.8rem 0 5rem;
}
/* services section */
.services{
    background-color: var(--colgreen);
       
            
            padding: 5rem 0;
            text-align: center;
            color: var(--coldarkgray);
}
.services h1{
    font-size: 6rem;
    margin-bottom: 2rem;
    color: var(--coldark);
}
.services-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}
.services-card{
    padding: 2rem;
    background-color: #e0b78b;
    margin: 1rem;
    border-radius: var(--borderradius);
    width: 40rem;
}

/* screen 76rem */
@media (max-width:76rem) {
    /* Header section */
    .header-name {
            left: -30%;

        }
   .header-content :nth-child(2) {
       font-size: 18rem;
   }
    .header-content :nth-child(1) {
            font-size: 8rem;

        }
        .header-image-container {
        
                    
                    right: -60%;
                    
                }
}
/* Screen 50rem */
@media (max-width:50rem) {
    /* Header section */
    .header-name {
        left: -40%;

    }
        .header-image-container {
    
    
            right: -80%;
    
        }

   .header-content :nth-child(2) {
       font-size: 15rem;
   }

    .header-content :nth-child(1) {
        font-size: 7rem;

    }
}
/* Screen 38rem */
@media (max-width:38rem) {
    /* Header section */
    nav{
        visibility: hidden;
    }
    .header-name {
        left: -40%;

    }
    .header-name {
    position: absolute;
            top: 10%;
            left: 10%;

            text-align: center;

            transform: rotate(0deg);

        }
    .header-content{
        bottom: 20%;
    }
    .header-content :nth-child(2) {
        font-size: 10rem;
    }

    .header-content :nth-child(1) {
        font-size: 7rem;
        text-align: center;

    }
        .header-image-container {
    
    
            right: -100%;
    
        }
        
}